<div class="home">
  <div class="home__navbar">
    <a class="home__navbar__item" href="">Home</a>
    <a class="home__navbar__item" href="">Shop</a>
    <a class="home__navbar__item" href="">About</a>
    <a class="home__navbar__item" href="">Contact</a>
    <div style="width: 100%;"></div>
    <div class="home__navbar__item">
      <img class="home__navbar__item__logo" src="icons/purchase.svg" alt="purchase" />
    </div>
  </div>
  <div class="home__adds">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let add of adds">
        <ng-template carouselSlide [id]="add.id">
          <div class="home__adds__item">
            <img class="home__adds__item__image" src="{{ add.src }}" alt="add" />
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div class="home__products">
    <div class="home__products__item" *ngFor="let product of products">
      <img class="home__products__item__image" [src]="product.src" alt="product" />
      <div class="home__products__item__info">
        <div class="home__products__item__info__name">{{ product.name }}</div>
        <div class="home__products__item__info__price">${{ product.price }}</div>
      </div>
    </div>
  </div>
</div>
