<mat-sidenav-container class="home">
  <mat-sidenav #sidenav mode="side" class="home__navbar" [(opened)]="menuOpen">
    <mat-nav-list>
      <a mat-list-item class="home__navbar__item" routerLink="/all" routerLinkActive="home__navbar__active" (click)="sidenav.close()">All</a>
      <a mat-list-item class="home__navbar__item" routerLink="/gaming" routerLinkActive="home__navbar__active" (click)="sidenav.close()">Gaming</a>
      <a mat-list-item class="home__navbar__item" routerLink="/appliances" routerLinkActive="home__navbar__active" (click)="sidenav.close()">Appliances</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="home__content">
    <div class="home__content__header">
      <button mat-mini-fab (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="home__content__header__category">{{ category }}</div>
      <div class="home__content__header__spacer"></div>
      <lib-shopping-card></lib-shopping-card>
    </div>
    <div class="home__banner">
      <img class="home__banner__image" src="/images/add.jpg" alt="add" />
    </div>
    <mat-grid-list cols="1" rowHeight="400px">
      @for (product of products; track product) {
        <mat-grid-tile>
          <div class="home__products__item">
            <img class="home__products__item__image" [src]="product.image" alt="product" />
            <div class="home__products__item__info">
              <div class="home__products__item__info__name">{{ product.name }}</div>
              <div class="home__products__item__info__price">${{ product.price }}</div>
            </div>
            <button class="home__products__item__add" mat-fab extended (click)="add(product)">
              <mat-icon>{{ have(product) ? 'remove_shopping_cart' : 'add_shopping_cart' }}</mat-icon>
              {{have(product) ? 'Remove from cart' : 'Add to cart'}}
            </button>
          </div>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
